<aside id="sidebar" class="sidebar">
  <ul class="sidebar-menu">
    <li class="sidebar-item" data-link="../../../../sidebar/gioithieu.html">
      <i class="fas fa-book"></i> Giới thiệu
    </li>
    <li class="sidebar-item" data-link="../../../../sidebar/huongdan.html">
      <i class="fas fa-mouse"></i> Hướng dẫn
    </li>
    <li class="sidebar-item" data-link="../../../../sidebar/taikhoan.html">
      <i class="fas fa-user-circle"></i> Tài khoản
    </li>
    <li class="sidebar-item" data-link="../../../../sidebar/caidat.html">
      <i class="fas fa-cog"></i> Cài đặt
    </li>
    <li class="sidebar-item" data-link="../../../../sidebar/baocao.html">
      <i class="fas fa-bullhorn"></i> Báo cáo
    </li>
    <li class="sidebar-item" data-link="../../../../sidebar/chinhsach.html">
      <i class="fas fa-file-contract"></i> Chính sách
    </li>
    <li class="sidebar-item" data-link="../../../../sidebar/dieukhoan.html">
      <i class="fas fa-key"></i> Điều khoản
    </li>
  </ul>
</aside>
