<div class="topbar">
  <div class="topbar-inner">
    <div class="brand">
      <a class="brand-link">EDUCHEM</a>
      <span class="slogan">ChemStudy — Baby</span>
    </div>

    <nav class="top-nav">
      <button class="nav-btn" data-link="../../index.html">
        <i class="fa fa-house"></i> Home
      </button>

      <button class="nav-btn active">
        <i class="fa fa-leaf"></i> ChemStudy Baby
      </button>

      <button class="nav-btn" data-link="../chemstudyteen/chemstudyteen.html">
        <i class="fa fa-graduation-cap"></i> ChemStudy Teen
      </button>

      <button class="nav-btn"><i class="fa fa-comments"></i> ChemForum</button>

      <button class="nav-btn"><i class="fa fa-globe"></i> ChemVerse</button>
    </nav>
  </div>
</div>
